interactions:
  - request:
      body: null
      headers:
        Content-Type:
          - application/json;charset=utf-8
      method: POST
      uri: https://www.slack.com/api/conversations.list
    response:
      body:
        string: '{"ok": true, "channels": [{"id": "C626TKX24", "name": "random", "is_channel":
        true, "is_group": false, "is_im": false, "is_mpim": false, "is_private": false,
        "created": 1499028830, "is_archived": true, "is_general": false, "unlinked":
        0, "name_normalized": "random", "is_shared": false, "is_org_shared": false,
        "is_pending_ext_shared": false, "pending_shared": [], "context_team_id": "T62VBQGER",
        "parent_conversation": null, "creator": "U62A12649", "is_ext_shared": false,
        "shared_team_ids": ["T62VBQGER"], "pending_connected_team_ids": [], "is_member":
        false, "topic": {"value": "Non-work banter and water cooler conversation",
        "creator": "U62A12649", "last_set": 1499028830}, "purpose": {"value": "A place
        for non-work-related flimflam, faffing, hodge-podge or jibber-jabber you''d
        prefer to keep out of more focused work-related channels.", "creator": "U62A12649",
        "last_set": 1499028830}, "previous_names": [], "num_members": 0}, {"id": "C62SDJN90",
        "name": "general", "is_channel": true, "is_group": false, "is_im": false,
        "is_mpim": false, "is_private": false, "created": 1499028830, "is_archived":
        false, "is_general": true, "unlinked": 0, "name_normalized": "general", "is_shared":
        false, "is_org_shared": false, "is_pending_ext_shared": false, "pending_shared":
        [], "context_team_id": "T62VBQGER", "parent_conversation": null, "creator":
        "U62A12649", "is_ext_shared": fals[...]
