interactions:
  - request:
      body: null
      headers:
        Content-Type:
          - application/json;charset=utf-8
      method: POST
      uri: https://www.slack.com/api/users.list
    response:
      body:
        string: '{"ok": true, "members": [{"id": "USLACKBOT", "team_id": "T62VBQGER",
        "name": "slackbot", "deleted": false, "color": "757575", "real_name": "Slackbot",
        "tz": "America/Los_Angeles", "tz_label": "Pacific Daylight Time", "tz_offset":
        -25200, "profile": {"title": "", "phone": "", "skype": "", "real_name": "Slackbot",
        "real_name_normalized": "Slackbot", "display_name": "Slackbot", "display_name_normalized":
        "Slackbot", "fields": {}, "status_text": "", "status_emoji": "", "status_emoji_display_info":
        [], "status_expiration": 0, "avatar_hash": "sv41d8cd98f0", "always_active":
        true, "first_name": "slackbot", "last_name": "", "image_24": "https://a.slack-edge.com/80588/img/slackbot_24.png",
        "image_32": "https://a.slack-edge.com/80588/img/slackbot_32.png", "image_48":
        "https://a.slack-edge.com/80588/img/slackbot_48.png", "image_72": "https://a.slack-edge.com/80588/img/slackbot_72.png",
        "image_192": "https://a.slack-edge.com/80588/marketing/img/avatars/slackbot/avatar-slackbot.png",
        "image_512": "https://a.slack-edge.com/80588/img/slackbot_512.png", "status_text_canonical":
        "", "team": "T62VBQGER"}, "is_admin": false, "is_owner": false, "is_primary_owner":
        false, "is_restricted": false, "is_ultra_restricted": false, "is_bot": false,
        "is_app_user": false, "updated": 0, "is_email_confirmed": false, "who_can_share_contact_card":
        "EVERYONE"}, {"id": "U62A12649", "team_id": "T62VBQGER", "name": "mohira",
        "deleted": false, "color": "9f69e7", "real_name": "mohira", "tz": "Asia/Tokyo",
        "tz_label": "Japan Standard Time", "tz_offset": 32400, "profile": {"title":
        "", "phone": "", "skype": "", "real_name": "mohira", "real_name_normalized":
        "mohira", "display_name": "", "display_name_normalized": "", "fields": null,
        "status_text": "", "status_emoji": "", "status_emoji_display_info": [], "status_expiration":
        0, "avatar_hash": "4c9ddcd21427", "image_original": "https://avatars.slack-edge.com/2018-09-22/442320332918_4c9ddcd214271166e5ac_original.jpg",
        "is_custom_image": true, "huddle_state": "default_unset", "huddle_state_expiration_ts":
        0, "image_24": "https://avatars.slack-edge.com/2018-09-22/442320332918_4c9ddcd214271166e5ac_24.jpg",
        "image_32": "https://avatars.slack-edge.com/2018-09-22/442320332918_4c9ddcd214271166e5ac_32.jpg",
        "image_48": "https://avatars.slack-edge.com/2018-09-22/442320332918_4c9ddcd214271166e5ac_48.jpg",
        "image_72": "https://avatars.slack-edge.com/2018-09-22/442320332918_4c9ddcd214271166e5ac_72.jpg",
        "image_192": "https://avatars.slack-edge.com/2018-09-22/442320332918_4c9ddcd214271166e5ac_192.jpg",
        "image_512": "https://avatars.slack-edge.com/2018-09-22/442320332918_4c9ddcd214271166e5ac_512.jpg",
        "image_1024": "https://avatars.slack-edge.com/2018-09-22/442320332918_4c9ddcd214271166e5ac_1024.jpg",
        "status_text_canonical": "", "team": "T62VBQGER"}, "is_admin": true, "is_owner":
        true, "is_primary_owner": true, "is_restricted": false, "is_ultra_restricted":
        false, "is_bot": false, "is_app_user": false, "updated": 1648814743, "is_email_confirmed":
        true, "has_2fa": false, "who_can_share_contact_card": "EVERYONE"}, {"id":
        "U690VD0KH", "team_id": "T62VBQGER", "name": "polly", "deleted": true, "profile":
        {"title": "", "phone": "", "skype": "", "real_name": "Polly", "real_name_normalized":
        "Polly", "display_name": "polly", "display_name_normalized": "polly", "fields":
        null, "status_text": "", "status_emoji": "", "status_emoji_display_info":
        [], "status_expiration": 0, "avatar_hash": "f4e8c0c704f4", "api_app_id": "A04E6JX41",
        "always_active": true, "image_original": "https://avatars.slack-edge.com/2017-11-14/271701836496_f4e8c0c704f460e9b475_original.png",
        "is_custom_image": true, "bot_id": "B690VD0J3", "first_name": "Polly", "last_name":
        "", "image_24": "https://avatars.slack-edge.com/2017-11-14/271701836496_f4e8c0c704f460e9b475_24.png",
        "image_32": "https://avatars.slack-edge.com/2017-11-14/271701836496_f4e8c0c704f460e9b475_32.png",
        "image_48": "https://avatars.slack-edge.com/2017-11-14/271701836496_f4e8c0c704f460e9b475_48.png",
        "image_72": "https://avatars.slack-edge.com/2017-11-14/271701836496_f4e8c0c704f460e9b475_72.png",
        "image_192": "[...]
