interactions:
  - request:
      body: null
      headers:
        Content-Type:
          - application/json;charset=utf-8
      method: POST
      uri: https://www.slack.com/api/users.list
    response:
      body:
        string: '{"ok": true, "members": [{"id": "USLACKBOT", "team_id": "T03MB4K1J2K",
        "name": "slackbot", "deleted": false, "color": "757575", "real_name": "Slackbot",
        "tz": "America/Los_Angeles", "tz_label": "Pacific Daylight Time", "tz_offset":
        -25200, "profile": {"title": "", "phone": "", "skype": "", "real_name": "Slackbot",
        "real_name_normalized": "Slackbot", "display_name": "Slackbot", "display_name_normalized":
        "Slackbot", "fields": {}, "status_text": "", "status_emoji": "", "status_emoji_display_info":
        [], "status_expiration": 0, "avatar_hash": "sv41d8cd98f0", "always_active":
        true, "first_name": "slackbot", "last_name": "", "image_24": "https://a.slack-edge.com/80588/img/slackbot_24.png",
        "image_32": "https://a.slack-edge.com/80588/img/slackbot_32.png", "image_48":
        "https://a.slack-edge.com/80588/img/slackbot_48.png", "image_72": "https://a.slack-edge.com/80588/img/slackbot_72.png",
        "image_192": "https://a.slack-edge.com/80588/marketing/img/avatars/slackbot/avatar-slackbot.png",
        "image_512": "https://a.slack-edge.com/80588/img/slackbot_512.png", "status_text_canonical":
        "", "team": "T03MB4K1J2K"}, "is_admin": false, "is_owner": false, "is_primary_owner":
        false, "is_restricted": false, "is_ultra_restricted": false, "is_bot": false,
        "is_app_user": false, "updated": 0, "is_email_confirmed": false, "who_can_share_contact_card":
        "EVERYONE"}, {"id": "U03MB9MB5PZ", "team_id": "T03MB4K1J2K", "name": "michisuke.ohira",
        "deleted": false, "color": "4bbe2e", "real_name": "\u5927\u5e73\u9053\u4ecb",
        "tz": "Asia/Tokyo", "tz_label": "Japan Standard Time", "tz_offset": 32400,
        "profile": {"title": "", "phone": "", "skype": "", "real_name": "\u5927\u5e73\u9053\u4ecb",
        "real_name_normalized": "\u5927\u5e73\u9053\u4ecb", "display_name": "\u304a\u30fc\u3072\u3089",
        "display_name_normalized": "\u304a\uff70\u3072\u3089", "fields": null, "status_text":
        "", "status_emoji": "", "status_emoji_display_info": [], "status_expiration":
        0, "avatar_hash": "9d9258070fbd", "image_original": "https://avatars.slack-edge.com/2022-06-30/3733348977894_9d9258070fbd6fdca7fe_original.jpg",
        "is_custom_image": true, "first_name": "\u5927\u5e73\u9053\u4ecb", "last_name":
        "", "image_24": "https://avatars.slack-edge.com/2022-06-30/3733348977894_9d9258070fbd6fdca7fe_24.jpg",
        "image_32": "https://avatars.slack-edge.com/2022-06-30/3733348977894_9d9258070fbd6fdca7fe_32.jpg",
        "image_48": "https://avatars.slack-edge.com/2022-06-30/3733348977894_9d9258070fbd6fdca7fe_48.jpg",
        "image_72": "https://avatars.slack-edge.com/2022-06-30/3733348977894_9d9258070fbd6fdca7fe_72.jpg",
        "image_192": "https://avatars.slack-edge.com/2022-06-30/3733348977894_9d9258070fbd6fdca7fe_192.jpg",
        "image_512": "https://avatars.slack-edge.com/2022-06-30/3733348977894_9d9258070fbd6fdca7fe_512.jpg",
        "image_1024": "https://avatars.slack-edge.com/2022-06-30/3733348977894_9d9258070fbd6fdca7fe_1024.jpg",
        "status_text_canonical": "", "team": "T03MB4K1J2K"}, "is_admin": false, "is_owner":
        false, "is_primary_owner": false, "is_restricted": false, "is_ultra_restricted":
        false, "is_bot": false, "is_app_user": false, "updated": 1656550040, "is_email_confirmed":
        true, "has_2fa": false, "who_can_share_contact_card": "EVERYONE"}, {"id":
        "U03MHJ1279V", "team_id": "T03MB4K1J2K", "name": "sakura_kobayashi", "deleted":
        false, "color": "e96699", "real_name": "\u5c0f\u6797\u685c\u3005", "tz": "Asia/Tokyo",
        "tz_label": "Japan Standard Time", "tz_offset": 32400, "profile": {"title":
        "", "phone": "", "skype": "", "real_name": "\u5c0f\u6797\u685c\u3005", "real_name_normalized":
        "\u5c0f\u6797\u685c\u3005", "display_name": "sakura_kobayashi", [...]
